@import "../lib/Vars.scss";

.input {
  width: 100%;
  background: $section-background-color;
  height: 4.2rem;
  border: 1px solid $input-boder-color;
  border-radius: 2.1rem;
  padding: 0 2rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $text-color;
  letter-spacing: 0.1rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;

  &::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }

  &:hover {
    border: 1px solid $input-border-hover-color;
  }

  &:focus {
    border: 2px solid $input-border-focus-color !important;
  }
}
