.not-found {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  &__title {
    font-size: 4.2rem;
    text-align: center;
    background: -webkit-linear-gradient(#84e6a7, #37307f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__button {
    text-decoration: none;
    font-size: 2.8rem;
    color: #37307f;
    font-weight: bold;
    cursor: pointer;
    border: 4px solid #37307f;
    padding: 1.2rem 3.2rem;
    border-radius: 5rem;
  }
}
